In [2]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests

In [3]:
from selenium import webdriver

In [4]:
driver = webdriver.Chrome('C:/ChromeDriver_exe/chromedriver_102.exe')

C:\Users\admin\AppData\Local\Temp\ipykernel_8408\2421840669.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('C:/ChromeDriver_exe/chromedriver_102.exe')

In [5]:
url = 'https://ko.tradingeconomics.com/country-list/minimum-wages?continent=g20'
driver.get(url)
html = driver.page_source

In [6]:
soup = bs(html, 'html.parser')

In [7]:
th = soup.select('div.table-responsive tr th')
th

[<th style="cursor: pointer">국가</th>,
 <th data-heatmap="0" data-heatmap-limit="19" data-sortable="true" style="cursor: pointer">마지막 </th>,
 <th data-sortable="true" style="cursor: pointer">이전 </th>,
 <th class="hidden-xs" style="cursor: pointer">참고</th>,
 <th class="hidden-sm hidden-xs" data-sortable="false"> 단위</th>]

In [8]:
columus = []
for i in range(len(th)) :
    columus.append(th[i].text)
columus

['국가', '마지막 ', '이전 ', '참고', ' 단위']

In [105]:
td = soup.select('div.table-responsive tbody tr td')
tr = soup.select('div.table-responsive tbody tr')
a = soup.select('div.table-responsive tbody tr a')
a[1].text.strip()
tr[0].text

'\n\n\n                                        아르헨티나\n                                    \n47850\n45450\n2022-08\nARS / 월\n'

In [98]:
df = pd.DataFrame(columns= columus)
text_list =[]
for i in range(len(tr)):
    text_list.append(tr[i].text.strip().replace('\n', ',').replace(' ',''))
text_list

['아르헨티나,,47850,45450,2022-08,ARS/월',
 '호주,,812,773,2022-07,AUD/주',
 '브라질,,1212,1212,2022-07,BRL/월',
 '캐나다,,15.5,15,2022-10,CAD/시간',
 '중국,,2590,2590,2022-01,CNY/월',
 '프랑스,,1646,1603,2022-09,EUR/월',
 '독일,,12,10.45,2022-10,EUR/시간',
 '인도,,178,178,2022-12,INR/일',
 '인도네시아,,4.64,4.42,2022-01,IDR-백만/월',
 '일본,,930,902,2021-10,JPY/시간',
 '멕시코,,173,173,2022-06,MXN/일',
 '네덜란드,,1756,1725,2022-07,EUR/월',
 '러시아,,15279,13890,2022-05,RUB/월',
 '남아프리카공화국,,23.19,21.69,2022-03,ZAR/시간',
 '대한민국,,9160,8720,2022-12,원/시간',
 '스페인,,1126,1108,2022-03,EUR/월',
 '터키,,5008,5008,2022-12,/월TRY',
 '연합왕국,,9.5,8.91,2022-04,GBP/시간',
 '미국,,7.25,7.25,2022-12,USD/시간']

In [97]:
a = [1,2,3,4,5]
da

In [57]:
row = []
for i in range(len(td)) :
    row.append(td[i].text)
row

['\n\n\n                                        아르헨티나\n                                    \n47850\n45450\n2022-08\nARS / 월\n',
 '\n\n\n                                        호주\n                                    \n812\n773\n2022-07\nAUD / 주\n',
 '\n\n\n                                        브라질\n                                    \n1212\n1212\n2022-07\nBRL / 월\n',
 '\n\n\n                                        캐나다\n                                    \n15.5\n15\n2022-10\nCAD / 시간\n',
 '\n\n\n                                        중국\n                                    \n2590\n2590\n2022-01\nCNY / 월\n',
 '\n\n\n                                        프랑스\n                                    \n1646\n1603\n2022-09\nEUR / 월\n',
 '\n\n\n                                        독일\n                                    \n12\n10.45\n2022-10\nEUR / 시간\n',
 '\n\n\n                                        인도\n                                    \n178\n178\n2022-12\nINR / 일\n',
 '\n\n\n                                        인도네시아\n                                    \n4.64\n4.42\n2022-01\nIDR - 백만 / 월\n',
 '\n\n\n                                        일본\n                                    \n930\n902\n2021-10\nJPY / 시간\n',
 '\n\n\n                                        멕시코\n                                    \n173\n173\n2022-06\nMXN / 일\n',
 '\n\n\n                                        네덜란드\n                                    \n1756\n1725\n2022-07\nEUR / 월\n',
 '\n\n\n                                        러시아\n                                    \n15279\n13890\n2022-05\nRUB / 월\n',
 '\n\n\n                                        남아프리카 공화국\n                                    \n23.19\n21.69\n2022-03\nZAR/시간\n',
 '\n\n\n                                        대한민국\n                                    \n9160\n8720\n2022-12\n원 / 시간\n',
 '\n\n\n                                        스페인\n                                    \n1126\n1108\n2022-03\nEUR / 월\n',
 '\n\n\n                                        터키\n                                    \n5008\n5008\n2022-12\n/ 월 TRY\n',
 '\n\n\n                                        연합 왕국\n                                    \n9.5\n8.91\n2022-04\nGBP / 시간\n',
 '\n\n\n                                        미국\n                                    \n7.25\n7.25\n2022-12\nUSD / 시간\n']